---
import Main from "@layouts/Main.astro";
import * as m from "@paraglide/messages.js";
---

<Main>
    <div class="min-h-[45vh] bg-[url(/assets/images/coptic-manuscripts.webp)] bg-cover bg-center bg-no-repeat">
        <div class="bg-black/50 min-h-[45vh] flex flex-col justify-center">
            <h3
                class="text-center bg-madder/80 text-jonquil p-4 sm:p-6 md:p-8 lg:p-14 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-noto"
            >
                {m.homePageTitle()}
            </h3>
            <p
                class="text-center px-4 sm:px-8 md:px-16 lg:px-[22%] py-8 sm:py-10 md:py-12 lg:py-14 bg-white/80 text-black text-base sm:text-lg md:text-xl lg:text-2xl font-barlow"
            >
                {m.homePageDescription()}
            </p>
        </div>
    </div>
</Main>
