---
import Main from "@layouts/Main.astro";
import PostsGrid from "@components/PostsGrid.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const frenchPosts = posts.filter((post) => {
    return post.data.lang === "fr";
});
---

<Main>
    <PostsGrid posts={frenchPosts} />
</Main>
