@import "tailwindcss";

@font-face {
    font-family: 'noto-serif';
    src: url('/fonts/noto-serif/noto-serif-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'barlow';
    src: url('/fonts/barlow/barlow-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-noto: 'noto-serif', 'sans-serif';
    --font-barlow: 'barlow', 'sans-serif';
    --text-tiny: 0.7rem; 
    --text-x-tiny: 0.65rem; 
    --color-pearl: #E6DECA;
    --color-jonquil: #FFCF00;
    --color-madder: #A31621;
    --color-gray: #332F31;
}