---
import Main from "@layouts/Main.astro";
import PodsGrid from "@components/PodsGrid.astro";
import * as m from "@paraglide/messages.js";
---

<Main title={`${m.podcastsLabel()} | ${m.siteName()}`}>
    <PodsGrid />
</Main>
