---
import Main from "@layouts/Main.astro";
import Banner from "@components/Banner.astro";
import ShortsGrid from "@components/ShortsGrid.astro";
import * as m from "@paraglide/messages.js";
---

<Main title={`${m.NAV_SHORTS()} | ${m.GLOBAL_SITE_NAME()}`} description={m.SHORTS_BANNER_DESC()} image="/assets/images/shorts-banner.webp">
    <Banner image="/assets/images/shorts-banner.webp" bgColor="bg-black" description={m.SHORTS_BANNER_DESC()} />
    <ShortsGrid />
</Main>
