---
import { type CollectionEntry, getCollection } from "astro:content";
import Main from "@layouts/Main.astro";
import Post from "@layouts/Post.astro";

export const prerender = true;

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");
    return allPosts
        .filter((post) => post.id.startsWith("en/deep-dive/") && post.data.videoId)
        .map((post) => ({
            params: { slug: post.data.videoId },
            props: post,
        }));
}

type Props = CollectionEntry<"posts">;
const post = Astro.props;
---

<Main title={post.data.title} description={`${post.data.title} — Deep Dive by Coptic Orthodox Answers.`} image={post.data.imgSrc}>
    <Post {...post} category="deep-dive" />
</Main>
