---
import Main from "@layouts/Main.astro";
import PostsGrid from "@components/PostsGrid.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const ddEnglishPosts = posts.filter((post) => {
    return post.data.lang === "en" && post.data.tags?.includes("dd");
});
---

<Main>
    <PostsGrid posts={ddEnglishPosts} />
</Main>
