---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Coptic Orthodox Answers</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Font preloads -->
<link rel="preload" href="/fonts/barlow/barlow-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin />
<link
    rel="preload"
    href="/fonts/noto-serif/noto-serif-latin-400-normal.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
<ClientRouter />
