---
import "@styles/global.css";

const { title } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
    name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
/>
<title data-pagefind-meta="title">{title}</title>
<link rel="icon" href="/favicon.ico" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#171717" />

<!-- Font preloads -->
<link rel="preload" href="/fonts/barlow/barlow-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin />
<link
    rel="preload"
    href="/fonts/noto-serif/noto-serif-latin-400-normal.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
<link rel="preload" href="/fonts/marcellus/marcellus-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
