---
import Nav from "./Nav.astro";
import * as m from "@paraglide/messages.js";
---

<header>
    <div class="bg-no-repeat bg-cover bg-center bg-[url(/assets/images/church.jpg)]">
        <div class=`bg-black/85 min-h-96 flex flex-col justify-center items-center`>
            <h1 class="font-noto text-7xl text-pearl">{m.siteName()}</h1>
            <h2 class="font-barlow text-5xl mt-8 text-jonquil">
                {m.slogan()}
            </h2>
        </div>
    </div>
    <nav class="bg-pearl flex flex-row justify-around w-full">
        <Nav />
    </nav>
</header>
