---
import Nav from "./Nav.astro";
---

<header>
    <div class="min-h-96 flex flex-col justify-center items-center">
        <h1 class="font-noto text-7xl">Coptic Orthodox Answers</h1>
        <h2 class="font-barlow text-5xl mt-8">
            Know, live, and teach your faith.
        </h2>
    </div>
    <nav
        class="bg-linear-to-t from-black via-black py-4 px-25 flex flex-row justify-between"
    >
        <Nav />
    </nav>
</header>
