---
const { active, text, route } = Astro.props;
const activeRoute = active ? "text-madder underline underline-offset-4 sm:underline-offset-8" : "text-black";
---

<a
    href={route}
    class={`${activeRoute} font-barlow text-center text-nowrap px-4 py-4 w-full bg-pearl hover:bg-madder hover:text-white hover:no-underline text-base md:text-tiny lg:text-lg transition-colors duration-200 md:h-full md:flex md:justify-evenly`}
>
    {text}
</a>
