---
import { type InferEntrySchema, type RenderedContent } from "astro:content";
const { posts } = Astro.props;
type Post = {
    id: string;
    body?: string;
    collection: "posts";
    data: InferEntrySchema<"posts">;
    rendered?: RenderedContent;
    filePath?: string;
};
---

<!-- Need to dynamically change bg color depending on content route -->
<div class="grid grid-cols-3 gap-14 p-21">
    {
        posts.map((post: Post) => {
            return (
                <a class="group" href={`/${post.id}`}>
                    <img class="" src={post.data.imgSrc} />
                    <div class="flex flex-col pt-4">
                        <div class="flex flex-row justify-between content-center">
                            <span class="group-hover:underline group-hover:underline-offset-4 font-barlow text-xl text-pearl">
                                {post.data.title}
                            </span>
                            {post.data.tags?.map((tag) => {
                                return (
                                    <span class="ml-4 px-2 py-1 max-h-min rounded-lg bg-madder text-white text-sm">{`#${tag}`}</span>
                                );
                            })}
                        </div>
                        <span class="font-barlow text-xs text-pearl">
                            {post.data.pubDate
                                .toDateString()
                                .split(" ")
                                .slice(0, 4)
                                .join(" ")}
                        </span>
                    </div>
                </a>
            );
        })
    }
</div>
