---
import { Image } from "astro:assets";
import { type InferEntrySchema, type RenderedContent } from "astro:content";
const { posts } = Astro.props;
type Post = {
    id: string;
    body?: string;
    collection: "posts";
    data: InferEntrySchema<"posts">;
    rendered?: RenderedContent;
    filePath?: string;
};
---

<div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-14 sm:gap-8 lg:gap-8 px-4 pt-8 sm:px-8 lg:px-12 lg:pt-12 xl:px-19 xl:pt-19"
>
    {
        posts.map((post: Post, i: number) => (
            <a class="group block" href={`/${post.id.replace(/^en\//, "")}`}>
                {post.data.imgSrc && (
                    <div class="aspect-video overflow-hidden rounded-lg">
                        <Image
                            src={post.data.imgSrc}
                            alt={post.data.title}
                            width={480}
                            height={270}
                            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
                            loading={i < 8 ? "eager" : "lazy"}
                        />
                    </div>
                )}
                <div class="flex flex-col pt-4">
                    <span class="group-hover:underline group-hover:underline-offset-4 font-barlow text-xl sm:text-lg md:text-base lg:text-base xl:text-lg 2xl:text-2xl text-pearl line-clamp-2">
                        {post.data.title}
                    </span>
                    <span class="font-barlow text-sm sm:text-xs md:text-xs lg:text-xs xl:text-sm 2xl:text-base text-jonquil mt-2">
                        {post.data.pubDate.toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        })}
                    </span>
                </div>
            </a>
        ))
    }
</div>
