---
import { type InferEntrySchema, type RenderedContent } from "astro:content";
const { posts } = Astro.props;
type Post = {
    id: string;
    body?: string;
    collection: "posts";
    data: InferEntrySchema<"posts">;
    rendered?: RenderedContent;
    filePath?: string;
};
---

<div>
    {
        posts.map((post: Post) => {
            return (
                <a href={`/${post.id}`}>
                    <h1>{post.id}</h1>
                </a>
            );
        })
    }
</div>
