---
import { getPlaylistItems } from "@scripts/youtubeApi";
const shortsPlaylistId = import.meta.env.COA_SHORTS_PLAYLIST_ID;
const data = await getPlaylistItems(9, shortsPlaylistId);
const shortsIds = data?.items?.map(
    (short: {
        kind: string;
        etag: string;
        id: string;
        contentDetails: {
            videoId: string;
            videoPublishedAt: string;
        };
    }) => short?.contentDetails?.videoId
);
---

<div class="bg-black grid grid-cols-3 place-items-center p-21 gap-9">
    <iframe
        width="315"
        height="560"
        src={`https://youtube.com/embed/${shortsIds?.shift()}?autoplay=1&mute=1`}
        allow="autoplay; encrypted-media"
    >
    </iframe>
    {
        shortsIds?.map((shortId: string) => (
            <iframe
                width="315"
                height="560"
                src={`https://youtube.com/embed/${shortId}`}
            />
        ))
    }
</div>
