---
import { type CollectionEntry, render } from "astro:content";

const post = Astro.props;

type Props = CollectionEntry<"posts">;
const { Content } = await render(post);
---

<h3>{post.data.title}</h3>
<Content />
