---
import { type CollectionEntry, render } from "astro:content";

const post = Astro.props;

type Props = CollectionEntry<"posts">;
const { Content } = await render(post);
---

<div class="bg-gray w-full">
    <div
        class="flex flex-col justify-center text-justify px-4 sm:px-8 md:px-16 lg:px-42 py-8 sm:py-12 md:py-16 lg:py-21"
        data-pagefind-body
    >
        <h4
            data-pagefind-weight="10"
            class="font-noto text-2xl sm:text-3xl md:text-4xl text-pearl text-center pb-4 sm:pb-8 md:pb-12 lg:pb-21 max-w-full sm:max-w-[90%] md:max-w-[80%] lg:max-w-[66%] place-self-center"
        >
            {post.data.title}
        </h4>
        {
            post.data.videoId && (
                <div class="relative w-full max-w-6xl mx-auto mb-8 sm:mb-12 md:mb-16 lg:mb-21">
                    <div class="relative pb-[56.25%] h-0">
                        <iframe
                            class="absolute top-0 left-0 w-full h-full"
                            src={`https://www.youtube.com/embed/${post.data.videoId}`}
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                            loading="lazy"
                        />
                    </div>
                </div>
            )
        }
        <div class="font-barlow text-base sm:text-lg md:text-xl text-pearl" data-pagefind-weight="9">
            <Content />
        </div>
    </div>
</div>
