---
import { type CollectionEntry, getCollection } from "astro:content";
import Main from "@layouts/Main.astro";
import Post from "@layouts/Post.astro";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection("podcasts");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}

type Props = CollectionEntry<"posts">;
const post = Astro.props;
---

<Main>
    <Post {...post} />
</Main>
